* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scrollbar-width: none;
}

body {
  font-size: 1.6rem;
  font-family: "Capriola", sans-serif;
  background-color: #F3D973;
}

@media all and (max-width: 768px) and (orientation: portrait) {
  .main-content {
    width: 100%;
  }
  .main-content__pizza-img {
    display: block;
    background: url(../img/pizza_composer.png) no-repeat right center/cover;
    height: 15vh;
    width: 100%;
  }
  .main-content__pizza-img2 {
    display: block;
    background: url(../img/pizza.png) no-repeat right bottom/cover;
    height: 15vh;
    width: 100%;
  }
  .main-content__heading {
    width: 100%;
    background-color: #efcc44;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    position: relative;
  }
  .main-content__heading--toggle-icon {
    position: absolute;
    top: 50%;
    height: 3rem;
    width: 3rem;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2.5rem;
    cursor: pointer;
  }
  .main-content__heading .close {
    transform: rotate(180deg) translateY(50%);
  }
  .main-content .pizza-constructor {
    width: 100%;
    background: #F3D973;
    display: flex;
    flex-direction: column;
  }
  .main-content .pizza-constructor__heading {
    text-align: center;
    padding: 1.5rem 0;
  }
  .main-content .pizza-constructor ul {
    list-style: none;
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    font-size: 1.8rem;
  }
  .main-content .pizza-constructor ul li:nth-child(odd) {
    grid-column: 1/2;
    padding-left: 1rem;
  }
  .main-content .pizza-constructor ul li:nth-child(even) {
    grid-column: 2/3;
    padding-left: 5rem;
  }
  .main-content .pizza-constructor ul label {
    margin-left: 0.5rem;
  }
  .main-content .pizza-constructor__submit {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
    padding: 1rem 0;
    font-family: "Capriola", sans-serif;
    font-weight: 700;
    background-color: #f7b52b;
    color: #066412;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media all and (max-width: 768px) and (orientation: portrait) and (max-width: 281px) and (orientation: portrait) {
  .main-content .pizza-constructor ul {
    list-style: none;
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    font-size: 1.2rem;
  }
  .main-content .pizza-constructor ul li:nth-child(odd) {
    grid-column: 1/2;
    padding-left: 1rem;
  }
  .main-content .pizza-constructor ul li:nth-child(even) {
    grid-column: 2/3;
    padding-left: 2.5rem;
  }
  .main-content .pizza-constructor ul label {
    margin-left: 0.5rem;
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .main-content .hidden {
    display: none;
  }
}
@media all and (min-width: 769px) {
  .main-content {
    width: 100%;
  }
  .main-content__pizza-img {
    display: none;
  }
  .main-content__pizza-img2 {
    display: none;
  }
  .main-content__heading {
    width: 100%;
    background-color: #efcc44;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    position: relative;
  }
  .main-content__heading--toggle-icon {
    position: absolute;
    top: 50%;
    height: 3rem;
    width: 3rem;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2.5rem;
    cursor: pointer;
  }
  .main-content__heading .close {
    transform: rotate(180deg) translateY(50%);
  }
  .main-content .pizza-constructor {
    width: 100%;
    background: #F3D973;
    display: flex;
    flex-direction: column;
  }
  .main-content .pizza-constructor__heading {
    text-align: center;
    padding: 1.5rem 0;
  }
  .main-content .pizza-constructor ul {
    list-style: none;
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    font-size: 1.8rem;
  }
  .main-content .pizza-constructor ul li:nth-child(odd) {
    grid-column: 1/2;
    padding-left: 1rem;
  }
  .main-content .pizza-constructor ul li:nth-child(even) {
    grid-column: 2/3;
    padding-left: 5rem;
  }
  .main-content .pizza-constructor ul label {
    margin-left: 0.5rem;
  }
  .main-content .pizza-constructor__submit {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
    padding: 1rem 0;
    font-family: "Capriola", sans-serif;
    font-weight: 700;
    background-color: #f7b52b;
    color: #066412;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media all and (min-width: 769px) and (max-width: 281px) and (orientation: portrait) {
  .main-content .pizza-constructor ul {
    list-style: none;
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    font-size: 1.2rem;
  }
  .main-content .pizza-constructor ul li:nth-child(odd) {
    grid-column: 1/2;
    padding-left: 1rem;
  }
  .main-content .pizza-constructor ul li:nth-child(even) {
    grid-column: 2/3;
    padding-left: 2.5rem;
  }
  .main-content .pizza-constructor ul label {
    margin-left: 0.5rem;
  }
}
@media all and (min-width: 769px) {
  .main-content .hidden {
    display: none;
  }
}
.header {
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: #F3D973;
}
.header__logo {
  position: relative;
  z-index: 1;
  display: flex;
  background-color: #F3D973;
  width: 100%;
  height: 12rem;
}
.header__logo--img {
  width: 30%;
}
.header .navigation {
  position: relative;
  z-index: 2;
  display: flex;
}
.header .navigation__list {
  position: relative;
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: end;
  align-content: center;
  bottom: 8rem;
}
.header .navigation__item {
  position: relative;
  z-index: 3;
  padding: 5rem;
}
.header .navigation__link {
  color: #066412;
  font-family: "Capriola", sans-serif;
  text-decoration: none;
}
.header .navigation .burger-icon {
  display: none;
}

@media all and (max-width: 1000px) {
  .header .navigation {
    display: flex;
    justify-content: end;
    align-content: center;
  }
  .header .navigation__list {
    display: none;
  }
  .header .navigation .burger-icon {
    display: flex;
    position: absolute;
    width: 5rem;
    height: 5rem;
    bottom: 2.5rem;
    right: 2.5rem;
    padding: 1rem;
  }
  .header .navigation .close {
    display: none;
  }
}
.footer {
  background-color: #F3D973;
  text-align: center;
  width: 100%;
}
.footer__container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  height: 10rem;
}
.footer__container li {
  flex: 1;
}
.footer__container li a {
  text-decoration: none;
  color: #066412;
  font-weight: bold;
  display: block;
}
.footer__container .center-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer__container .center-section .facebook-icon {
  max-width: 50px;
  height: 50px;
}
.footer__container .center-section a {
  text-decoration: none;
  color: #066412;
  font-weight: bold;
  display: block;
  font-family: "Capriola", sans-serif;
  font-size: 2.6rem;
}
.footer__container .x-icon {
  height: 50px;
  width: 50px;
}

@media (max-width: 1000px) {
  .footer__container .center-section {
    width: 25%;
  }
  .footer__container .center-section .facebook-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .footer__container .center-section .x-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.home-content__heading {
  height: 20vh;
  position: relative;
}
.home-content__heading--img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-content__heading--title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #09941b;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.9), 0.5rem 0.3rem 0.1rem rgba(0, 0, 0, 0.9);
}
.home-content__heading--title span:nth-child(odd) {
  font-size: 3.5rem;
}
.home-content__heading--title span {
  display: block;
  padding: 2.5rem 0 1rem 0;
}
.home-content__carousel-group {
  height: 55vh;
  position: relative;
  width: 100vw;
}
.home-content__carousel-group__item {
  width: 80%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-family: "Capriola", sans-serif;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.9), 0.5rem 0.3rem 0.1rem rgba(0, 0, 0, 0.9);
  color: #09941b;
  margin: 1.5rem auto;
  background: url(../img/pizza2.jpg) no-repeat center/cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.home-content__carousel-group__item:nth-child(2) {
  left: 150%;
  background: url(../img/peperoni.jpg) no-repeat center/cover;
  flex-direction: column;
  gap: 2.5rem;
}
.home-content__carousel-group__item:nth-child(2) button {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: #F7B52B;
  border: none;
  border-radius: 0.5rem;
}
.home-content__carousel-group__item:nth-child(2) button:hover {
  transform: translateY(-0.3rem);
}
.home-content__carousel-group__item:nth-child(2) button:active {
  transform: translateY(-0.1rem);
}
.home-content__carousel-group__item:nth-child(3) {
  left: 300%;
  background: green;
}
.home-content__carousel-group .backward {
  position: absolute;
  top: 50%;
  left: 5%;
  height: 5rem;
}
.home-content__carousel-group .backward:hover {
  transform: scale(1.15);
}
.home-content__carousel-group .backward:active {
  transform: scale(1.1);
}
.home-content__carousel-group .forward {
  position: absolute;
  top: 50%;
  right: 5%;
  height: 5rem;
}
.home-content__carousel-group .forward:hover {
  transform: scale(1.15);
}
.home-content__carousel-group .forward:active {
  transform: scale(1.1);
}

@media all and (max-width: 768px) {
  .home-content__heading--title {
    width: 100%;
    font-size: 2rem;
  }
  .home-content__heading--title span:nth-child(odd) {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */