form {
    margin: 20px auto;
    width: 50%;
    border-radius: 1px;
    margin-bottom: 10px;
    position: relative;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;

}

form textarea {
    height: 100px;
    padding-bottom: 10px;
 
}
body{
    background-color: #f3c859;
}
form button:hover {
    background-color: #FF9900;
}
#coordonnees{
    text-align: center;
}
h2{
    text-align: center;
   
}
button {
    cursor: pointer;
    background-color: #FDA452;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
   
  }
#message{
height: 261px;
width: 840px;
}
#email{
width: 420px;
} 
#prenom{
width: 420px;

}
#nom{
width: 420px;
}
img{
height: 200px;

}
